*{
    font-family: sans-serif;
}

.navbar { display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    margin-right: 25px;
    align-items: center;
}

.navbar img{
    width: 100px;
    margin-right: 0;
    height: auto;
}

.navbar a {
    margin: 10px;
    color: black;
    text-decoration: none;
}
.navbar a:first-of-type {
    margin-left: auto;
}

.search-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 300px;
    height: 300px;
    margin-bottom: -20px;
}


.search-form{
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}

#image-search {
    display: block;
    margin: 20px auto;
    width: 120px;
}

input[type=submit] {
    border-radius: 20%;
    border-width: 0px;
    height: 50px;
    width: 120px;
    margin: 20px;
    background-color: #f8f9fa;
    cursor: pointer;
}
input[type=submit]:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

input[type=text]{
    width: 330px;
    margin: 0 auto;
}
.advanced-p {

  margin-top: 50px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(95, 92, 92);

}
.advanced-p > p{

    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}


#find-pages-p{
    font-size: 16px;
    font-weight: 500;
}

.advanced-search{
    margin: 40px 2% 0 45px;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
}

.form-row {
    display: grid;
    grid-template-columns: 200px 300px;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.form-row label {
    text-align: left;
}

.form-row input {
    width: 100%;
    border-top: 1px solid #c0c0c0;
    border: 1px solid #d9d9d9;
}

#btn-submit{
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    color: #fff;
    border: 1px solid #3079ed;
    border-radius: 2px;
    height: 30px;
    width: 120px;
    justify-self: end;
      margin-right: -10px;
}
